* {
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Mulish', sans-serif;
  }
  
  :root {
    --primaryColor: #458FF6;
    --grey: #7D7987;
    --gredientColor1: #67C3F3;
    --gredientColor2: #5A98F2;
    --black: #000;
    --white: #fff;
  }
  
  /*===
    general styles
    ===*/  
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  a {
    text-transform: capitalize;
  } */

  h1 {
    color: var(--black);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 30px;
  }
  h2 {
    color: var(--black);
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
  }
  p {
    color: var(--grey);
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7em;
  }
  section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .btn-center
  {
    position: absolute;
    left: 43%;
    margin-top: 30px;
  }


  /*directions*/
  
  .container {
    max-width: 1250px;
    margin: 0 auto;
    align-items: center;
  }
  .flex {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; */
    
    margin: 0 auto;
    display: flex;
  }
  a{
    color: var(--black);
    display: block;
    padding: 0 15px;
    text-decoration: none;
  }
  button{
    cursor: pointer;
  }
  .fa-solid
  {
    color: var(--primaryColor);
    padding-left: 10px;
    padding-top: 10px;
  }
  /*===
    btn
    ===*/
    .btn-primary {
      background-color: var(--primaryColor);
      border-radius: 55px;
      padding: 15px 35px;
      color: var(--white);
      font-size: 18px;
      border: unset;
      font-weight: bold;
    }
    .btn-secondary {
      border-radius: 55px;
      border: 2px solid var(--primaryColor);
      padding: 15px 50px ;
      color: var(--primaryColor);
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
    }

  /**/
  
  
  /*===
    navbar
    ===*/
  nav {
    padding-top: 50px;
    height: 10vh;
  }
  .nav-logo{
    flex: 1;
  }
  .nav-links{
    flex:1;
    justify-content: space-between;
  }
  a {
    color: var(--grey);
  }
  .active
  {
    color: var(--black);
    font-weight: bold;
  }
 
  /*===
    hero section
    ===*/
  .hero
  {
    justify-content: space-between;
    height: 90vh;
  }
  .circle-pattern
  {
    position: absolute;
    top: 100px;
    left: -40px;
  }
  .hero-cap
  {
    padding: 50px 100px 50px 10px;
    flex: 1;
  }
  .hero-cap .btn-primary
  {
    margin-top: 40px;
  }
  .hero-img
  {
    flex: 1;
  }

  /*===
    our services section
    ===*/
  .our-services
  {
    align-items: center;
    position: relative;
  }
  .section-desc
  {
    padding: 100px ;
  }
  .our-services h2
  {
    position: relative;
    margin-bottom: 30px;
  }
  .our-services h2::after,
  .healthcare-providers-cap h2::after,
  .download-our-app-cap h2::after,
  .testmonial-all h2::after,
  .articles h2::after
  {
    width:70px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    content: '';
    background-color: var(--black);
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .services-vector{
    position: absolute;
    top: 350px;
    left:-150px;
    z-index: -1;
  }
  .services-pattern{
    position: absolute;
    top: 700px;
    right:0;
    z-index: -2;
  }
  .section-desc
  {
   text-align: center;
   padding: 30px 90px 30px 90px;
  }
  .cards-wrapper
  {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  .card-wrapper
  {
    background-color: #FFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    max-width: 350px;
    height: 350px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 40px;
    gap: 20px;
  }
  .card-img
  {
    width: 70px;
    height: 80px;
    margin: 20px 20px 50px 0;
    align-items: center;
  }
  .card-img img {
    object-fit:contain;
  }
  .card-wrap h3 {
    padding-bottom: 15px;
  }
  .card-wrap p {
    font-size: 14px;
  }
  .our-services .btn-secondary
  {
    margin: 0px 0 50px 0;
  }

  /*===
    leading healthcare providers
    ===*/
  .healthcare-providers-cap,
  .download-our-app-cap
  {
    padding: 50px;
    padding-left: 150px;
  }
  .healthcare-providers-cap h2,
  .download-our-app-cap h2{
    position: relative;
    margin-bottom: 70px;
    text-align: left;
  }
  .healthcare-providers-cap h2::after,
  .download-our-app-cap h2::after
  {
    top: 145px;
    left: 40px;
  }
  .healthcare-providers .btn-secondary,
  .download-our-app .btn-secondary 
  {
    margin-top: 30px;
  }
  /*===
    download our mobbile apps
    ===*/
    .download-our-app-cap{
    padding-right: 75px;
    }
  /*===
    testimonials
    ===*/
  .testmonial
  {
    position: relative;
    margin: 200px auto 400px auto;
  }
  .testmonial-pattern1{
    position: absolute;
    bottom:0px;
    left: 15px;
    z-index: -1;
  }
  .testmonial-pattern2{
    position: absolute;
    top:-60px;
    right: 10px;
    z-index: 1;
  }
  .testmonial-all
  {
    width: 1120px;
    height: 425px;
    background: linear-gradient(183.41deg, var(--gredientColor1) -8.57%, var(--gredientColor2) 82.96%);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .testmonial-all h2{
    padding: 60px 0 0 0;
    color: var(--white);
  }
  .testmonial-all h2::after
  {
    background-color: var(--white);
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  .testmonial-all p{
    padding: 30px;
  }
  .testimonial-wrapper
  {
    padding: 50px;
  }
  .testmonial-info
  {
    flex:1;
  }
  .testmonial-text
  {
    color: var(--white);
    padding: 70px;
    padding-left: 0;
  }
  .testmonial-text p
  {
    color: var(--white);
    padding: 0;
  }
  .testmonial-text h4
  {
    font-size: 22px;
    padding-bottom: 8px;
  }
  .testmonial-info img
  {
    border-radius: 50%;
    margin: 40px;
    border: 5px solid var(--white);
  }
  .testmonial-cap
  {
    color:  var(--white);
    flex: 1;
  }
  .pagination
  {
    position: absolute;
    padding: 0 30px 0 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .fa-circle
  {
    color: var(--gredientColor2);
    opacity: 0.3;
    padding: 0 5px 0 5px;
    font-size: 10px;
  }

  .activate
  {
    opacity: 1;
    color: var(--gredientColor2);
  }
  .pagination-arrow,
  .pagination-arrow {
    padding: 25px 70px 0 70px;
    font-size: 30px;
  }
  .fa-arrow-left-long {
    opacity:0.3;
  }
 
  /*===
    our latest article
    ===*/
    .articles{
      position: relative;
    }
    .articles h2{
      position: relative;
    }
    .articles h2::after{
      top: 80px;
    }
    .articles-vector{
      position: absolute;
      top: 0;
      right:0;
      z-index: -10;
    }
    .article-pattern{
      position: absolute;
      top: 100px;
      left:120px;
      z-index: -10;
    }
    .article-card
    {
      height: 500px;
    }
    .article-img{
      padding: 0;
      margin: 0;
    }
    .article-img img
    {
    padding-bottom: 30px;
    margin-left: -39px;   
    margin-top: -40px;   
    border-radius: 20px; 
    }
    .card-info h3
    {
      padding-bottom: 20px;
    }
    .card-info p
    {
      font-size: 16px;
    }
    .readmore
    {
      border:unset;
      padding-left: 0;
      font-size: 16px;
    }
    .pattern-right{
      position: absolute;
      top: 1000px;
      right: 0;
      z-index: -1;
    }
  /*===
    footer
    ===*/
    .footer
    {
      background: linear-gradient(183.41deg, var(--gredientColor1) -8.57%, var(--gredientColor2) 82.96%);
      color: var(--white);
      margin-top: 300px;
      font-weight: 100;
      padding-top: 50px;
      position: relative;
      height: 400px;
      align-items: center;
    }
    .footer-pattern-bottom{
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .footer-info-wrapper
    { 
      flex: 1;
      color: var(--white);
      padding: 0 0px 20px 100px;
      
    }
    .footer .logo
    {
      padding-bottom: 30px;
      position: relative;
    }
    .logo-letter{
      position: absolute;
      z-index: 10;
      top: -15px;
      left: 12px;
    }
    .logo-text{
      position: absolute;
      z-index: 10;
      top: -15px;
      left: 52px;
    }
    .footer-wrapper
    {
      padding: 50px 80px 30px 80px;
    }
    .footer p
    {
      color: var(--white);
      padding: 20px 170px 20px 0px;
      font-weight: 200;
    }
    .copy-rights p{
      font-size: medium;
    }
    .footer-nav-wrapper  { 
    flex: 1;
    justify-content: space-between;
    padding-right: 60px;
  }
  .footer-nav-title
  {
    font-weight: 500 ;
    padding-bottom: 25px;
  }
  .footer-navs a
  {
    font-size: 18px;
    color:  var(--white);
    padding: 10px;
  }